.sidebar {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #222;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 60px;
}

.sidebar h1 {
  font-family: "Montserrat";
  font-size: 18pt;
  color: #fff;
}

.sidebar h2 {
  font-family: "Montserrat";
  font-size: 16pt;
  color: #fff;
}

.sidebar h3 {
  font-family: "Montserrat";
  font-size: 14pt;
  color: #fff;
}

.sidebar p {
  font-family: "Montserrat";
  font-size: 12pt;
  color: #fff;
}

.viz {
  position: absolute;
  left: 30%;
  width: 70%;
  height: 100%;
  background-color: gainsboro;
}

.viz svg {
  position: absolute;
  height: 100%;
  width: 100%;
}

.info-label {
  font-family: "Montserrat";
  font-size: 11pt;
  fill: #fff;
}

.car {
  fill: #fff;
  visibility: hidden;
}

.moving {
  fill: #FFB11B;
  opacity: 0.3;
}

.idle {
  fill: cyan;
}

.boro {
  fill: #bbb;
  stroke: #ddd;
}

#Manhattan {
  fill: #222;
}
